@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900|Jost:400|Inter:400,700,900");

.frame-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 7542px;
  overflow-x: hidden;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.view-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 61px;
  padding: 9px 117px;
  width: 1440px;
}

.text_label-4 {
  letter-spacing: 0;
  margin-left: 46px;
  min-height: 19px;
  min-width: 234px;
}

.text_label-6 {
  letter-spacing: 0;
  margin-left: 44px;
  min-height: 19px;
  min-width: 114px;
}

.overlap-group11 {
  align-self: flex-end;
  height: 40px;
  margin-left: 46px;
  position: relative;
  width: 140px;
}

.codiconaccount-1 {
  height: 40px;
  left: 96px;
  position: absolute;
  top: 0;
  width: 40px;
}

.text_label-7 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.text_label-3 {
  letter-spacing: 0;
  margin-left: 6px;
  min-height: 19px;
  min-width: 115px;
}

.text-105 {
  color: var(--endeavour);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 900;
  letter-spacing: 0;
  margin-left: 46px;
  min-height: 19px;
  min-width: 125px;
}

.text_label-5 {
  letter-spacing: 0;
  margin-left: 46px;
  min-height: 19px;
  min-width: 244px;
}

.view {
  align-items: center;
  background-color: 
#f3f3f3;
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: hidden;
  width: 1440px;
}

.line-15 {
  height: 3px;
  margin-top: 28px;
  width: 1440px;
}

.flex-row {
  align-items: center;
  display: flex;
  height: 44px;
  margin-right: 15px;
  margin-top: 27px;
  min-width: 1213px;
}

.codiconaccount {
  height: 24px;
  margin-left: 24px;
  margin-top: 4px;
  width: 24px;
}

.__ {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 40px;
  min-width: 102px;
  padding: 5.9px 6px;
}

.logotype {
  height: 28px;
  width: 90px;
}

.view-1 {
  align-items: center;
  display: flex;
  height: 23px;
  margin-left: 12px;
  margin-top: 7px;
  min-width: 182px;
}

.line-9 {
  height: 19px;
  margin-left: 20px;
  width: 1px;
}

.line-8 {
  height: 19px;
  margin-bottom: 2px;
  width: 1px;
}

.text_label {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 23px;
  min-width: 140px;
}

.text_label-1 {
  letter-spacing: 0;
  margin-left: 11px;
  margin-top: 9px;
  min-height: 23px;
  min-width: 303px;
}

.view-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 161px;
  min-height: 44px;
  width: 394px;
}

.text-10 {
  letter-spacing: 0;
  min-height: 16px;
}

.span {
  text-decoration: underline;
}

.text_label-2 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 16px;
}

.overlap-group12 {
  height: 7381px;
  position: relative;
  width: 2008px;
}

.view-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 7006px;
  position: absolute;
  top: 0;
  width: 2008px;
}

.view-18 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1768px;
  margin-top: 150px;
  overflow: hidden;
  width: 1440px;
}

.flex-row-14 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 116px;
  margin-top: 82px;
  min-width: 1084px;
}

.image-15 {
  height: 490px;
  width: 525px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 84px;
  margin-top: 16px;
  min-height: 317px;
  width: 475px;
}

.text-6 {
  color: 
transparent;
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 56px;
}

.span-2 {
  color: var(--endeavour);
}

.x-1 {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 51px;
  min-height: 210px;
}

.overlap-group-8 {
  height: 970px;
  margin-left: -58.52px;
  margin-top: 227px;
  position: relative;
  width: 1499px;
}

.view-19 {
  align-items: flex-end;
  display: flex;
  height: 43px;
  left: 180px;
  min-width: 182px;
  position: absolute;
  top: 883px;
}

.arrow-4-1 {
  height: 16px;
  margin-left: -1px;
  width: 23px;
}

.arrow-3-1 {
  height: 16px;
  margin-left: 18px;
  width: 23px;
}

.text-7-1 {
  color: 
transparent;
  font-family: var(--font-family-jost);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 10px;
  min-height: 43px;
  min-width: 108px;
}

.span2-1 {
  color: var(--white);
}

.span3-1 {
  color: var(--mist-gray);
}

.span1 {
  color: var(--black);
}

.text-4 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 32px;
  font-weight: 400;
  left: 176px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 72px;
  width: 600px;
}

.bm-1 {
  height: 941px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 1499px;
}

.image-14 {
  height: 330px;
  left: 653px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 35px;
  width: 642px;
}

.text-5 {
  color: 
transparent;
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-weight: 500;
  left: 176px;
  letter-spacing: 0;
  line-height: 72px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.view-8 {
  align-items: flex-start;
  display: flex;
  height: 174px;
  margin-left: 119px;
  margin-top: 17px;
  min-width: 1135px;
}

.text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 153px;
  width: 306px;
}

.text-83 {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 1px;
  margin-top: 20px;
  min-height: 103px;
  width: 305px;
}

.text-8 {
  letter-spacing: 0;
  line-height: 31.2px;
  min-height: 30px;
  white-space: nowrap;
}

.text-container-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 98px;
  min-height: 174px;
  width: 309px;
}

.text-87 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 20px;
  min-height: 124px;
  width: 308px;
}

.text-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 102px;
  min-height: 153px;
  width: 308px;
}

.text-85 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 20px;
  min-height: 103px;
  width: 308px;
}

.view-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 119px;
  margin-top: 155px;
  min-height: 265px;
  width: 1201px;
}

.text-39 {
  letter-spacing: 0;
  min-height: 47px;
  width: 502px;
}

.group-container-3 {
  align-items: flex-end;
  display: flex;
  height: 148px;
  margin-left: 1.99px;
  margin-top: 70px;
  min-width: 1197px;
}

.group-75 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 148px;
  width: 373px;
}

.group-73-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 31px;
  width: 375px;
}

.flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  min-width: 370px;
}

.covid-19 {
  letter-spacing: 0;
  min-height: 23px;
  width: 284px;
}

.arrow-6 {
  align-self: flex-end;
  height: 17px;
  margin-left: 68px;
  width: 18px;
}

.line-1-1 {
  height: 2px;
  margin-left: -0.56px;
  margin-top: 5px;
  width: 374px;
}

.group-72-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  width: 375px;
}

.flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  min-width: 370px;
}

.text-34 {
  letter-spacing: 0;
  min-height: 23px;
  width: 287px;
}

.arrow-4 {
  align-self: flex-end;
  height: 17px;
  margin-left: 66px;
  width: 18px;
}

.group-71-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 30px;
  min-height: 28px;
  width: 375px;
}

.flex-row-9 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 1.31px;
  min-width: 369px;
}

.arrow-5 {
  align-self: flex-end;
  height: 17px;
  margin-left: 111px;
  width: 18px;
}

.text-35 {
  letter-spacing: 0;
  min-height: 23px;
  min-width: 240px;
}

.line-11-1 {
  height: 2px;
  margin-left: -0.56px;
  margin-top: 3px;
  width: 374px;
}

.group-74 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 148px;
  width: 377px;
}

.group-73 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 31px;
  width: 379px;
}

.line-1 {
  height: 2px;
  margin-left: -0.66px;
  margin-top: 5px;
  width: 378px;
}

.flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  min-width: 379px;
}

.arrow-3 {
  align-self: flex-end;
  height: 17px;
  margin-left: 45px;
  width: 18px;
}

.text-33 {
  letter-spacing: 0;
  min-height: 23px;
  min-width: 316px;
}

.group-71 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 28px;
  width: 379px;
}

.line-11 {
  height: 2px;
  margin-left: -0.66px;
  margin-top: 3px;
  width: 378px;
}

.flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 1.32px;
  min-width: 378px;
}

.text-32 {
  letter-spacing: 0;
  min-height: 23px;
  width: 270px;
}

.arrow-2 {
  align-self: flex-end;
  height: 17px;
  margin-left: 90px;
  width: 18px;
}

.group-72 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  width: 379px;
}

.flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  min-width: 379px;
}

.arrow-1 {
  align-self: flex-end;
  height: 17px;
  margin-left: 69px;
  width: 18px;
}

.text-31 {
  letter-spacing: 0;
  min-height: 23px;
  width: 292px;
}

.group-76 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  min-height: 148px;
  width: 371px;
}

.group-73-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 31px;
  width: 373px;
}

.flex-row-13 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  min-width: 369px;
}

.arrow-7 {
  align-self: flex-end;
  height: 17px;
  margin-left: 96px;
  width: 18px;
}

.text-38 {
  letter-spacing: 0;
  min-height: 23px;
  width: 255px;
}

.line-1-2 {
  height: 2px;
  margin-left: -0.46px;
  margin-top: 5px;
  width: 372px;
}

.group-72-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  width: 373px;
}

.flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  min-width: 369px;
}

.arrow-5-1 {
  align-self: flex-end;
  height: 17px;
  margin-left: 40px;
  width: 18px;
}

.text-36 {
  letter-spacing: 0;
  min-height: 23px;
  width: 311px;
}

.group-71-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 28px;
  width: 373px;
}

.flex-row-12 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 1.3px;
  min-width: 368px;
}

.text-37 {
  letter-spacing: 0;
  min-height: 23px;
  width: 283px;
}

.line-11-2 {
  height: 2px;
  margin-left: -0.46px;
  margin-top: 3px;
  width: 372px;
}

._-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 118px;
  margin-top: 174px;
  min-height: 476px;
  width: 1288px;
}

.line-container {
  height: 10px;
  margin-top: 59px;
  position: relative;
  width: 1202px;
}

.line-27 {
  height: 10px;
  left: 671px;
  position: absolute;
  top: 0;
  width: 531px;
}

.line-26 {
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 720px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 65px;
  min-width: 1284px;
}

.overlap-group2-3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/rectangle-1@1x.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 300px;
  padding: 42px 0;
  width: 266px;
}

.text-13 {
  align-self: center;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: 21px;
  min-height: 102px;
  width: 226px;
}

.address-13 {
  align-self: center;
  letter-spacing: 0;
  line-height: 31.2px;
  margin-right: 23px;
  min-height: 31px;
  min-width: 203px;
  white-space: nowrap;
}

.overlap-group-6 {
  align-items: center;
  background-color: var(--endeavour);
  border-radius: 40px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 127px;
  padding: 0 21px;
}

.text {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 84px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 20px;
  margin-top: 5px;
  min-height: 21px;
  white-space: nowrap;
}

.overlap-group6 {
  height: 300px;
  margin-left: 54px;
  position: relative;
  width: 324px;
}

.arrow-8 {
  height: 30px;
  left: 264px;
  position: absolute;
  top: 136px;
  width: 30px;
}

.overlap-group4 {
  background-color: var(--mist-gray);
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.address-15 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: 31.2px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.text-19 {
  left: 20px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 120px;
  width: 226px;
}

.overlap-group-7 {
  align-items: center;
  background-color: var(--endeavour);
  border-radius: 40px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  left: 20px;
  min-width: 127px;
  padding: 0 21px;
  position: absolute;
  top: 222px;
}

.rectangle {
  height: 300px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 266px;
}

.text-18 {
  left: 20px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 78px;
  white-space: nowrap;
  width: 253px;
}

.rectangle-57 {
  background-color: var(--white);
  height: 300px;
  left: 219px;
  position: absolute;
  top: 0;
  width: 105px;
}

.overlap-group3-3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/rectangle-2@1x.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 300px;
  padding: 42px 0;
  width: 266px;
}

.text-1-1 {
  align-self: center;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: 21px;
  min-height: 63px;
  width: 226px;
}

.overlap-group {
  align-items: center;
  background-color: var(--endeavour);
  border-radius: 40px;
  display: flex;
  height: 36px;
  margin-left: 20px;
  margin-top: 39px;
  min-width: 127px;
  padding: 0 22px;
}

.text-2 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 73px;
}

.address-14 {
  align-self: center;
  letter-spacing: 0;
  line-height: 31.2px;
  margin-right: 34px;
  min-height: 31px;
  min-width: 192px;
  white-space: nowrap;
}

.overlap-group1-4 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/rectangle@1x.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 42px 0;
  width: 266px;
}

.address-12 {
  align-self: center;
  letter-spacing: 0;
  line-height: 31.2px;
  margin-right: 37px;
  min-height: 31px;
  min-width: 189px;
  white-space: nowrap;
}

.text-20 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 47px;
}

.view-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 118px;
  margin-top: 963px;
  min-height: 315px;
  width: 1186px;
}

.group-container-4 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 196px;
  margin-right: 2px;
  margin-top: 72px;
  min-width: 1164px;
}

.overlap-group3-2 {
  height: 188px;
  margin-left: 65px;
  margin-top: 2px;
  position: relative;
  width: 144px;
}

.noun_manager_1771868 {
  height: 181px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.text-28 {
  left: 7px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 167px;
  white-space: nowrap;
}

.overlap-group7 {
  align-self: flex-end;
  height: 195px;
  margin-left: 54px;
  position: relative;
  width: 154px;
}

.text-29 {
  left: 33px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 174px;
  white-space: nowrap;
}

.image {
  height: 192px;
  left: 0;
  position: absolute;
  top: 0;
  width: 154px;
}

.overlap-group-5 {
  height: 189px;
  margin-top: 1px;
  position: relative;
  width: 146px;
}

.text-24 {
  left: 2px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 168px;
  white-space: nowrap;
}

.noun_graduation_2077867-1 {
  height: 182px;
  left: 0;
  position: absolute;
  top: 0;
  width: 146px;
}

.overlap-group1-3 {
  align-self: flex-start;
  height: 195px;
  margin-left: 51px;
  position: relative;
  width: 156px;
}

.noun_-money-bag_898889 {
  height: 195px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.text-26 {
  left: 33px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 170px;
  white-space: nowrap;
}

.group-145 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  margin-left: 54px;
  min-height: 179px;
  width: 153px;
}

.text-25 {
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: 23px;
  min-height: 21px;
  white-space: nowrap;
}

.frame-2 {
  height: 135px;
  width: 146px;
}

.overlap-group2-2 {
  height: 186px;
  margin-left: 45px;
  position: relative;
  width: 142px;
}

.noun_buildings_1217090-1 {
  height: 178px;
  left: 0;
  position: absolute;
  top: 0;
  width: 142px;
}

.text-27 {
  left: 31px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 165px;
  white-space: nowrap;
}

.text-30 {
  letter-spacing: 0;
  min-height: 47px;
}

.view-17 {
  align-items: center;
  display: flex;
  margin-left: 78px;
  margin-top: 174px;
  min-width: 1215px;
}

.group-150 {
  height: 626px;
  width: 543px;
}

.text-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 108px;
  margin-top: 13px;
  min-height: 575px;
  width: 558px;
}

.text-21 {
  color: var(--endeavour);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 61px;
  min-height: 23px;
}

.text-23 {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 420px;
  width: 558px;
}

.text-22 {
  color: 
transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.2px;
  margin-top: 8px;
  min-height: 63px;
  width: 462px;
}

.span1-1 {
  color: var(--endeavour);
  text-decoration: underline;
}

.overlap-group10 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/-------2@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 636px;
  padding: 27px 112px;
  width: 1441px;
}

.flex-row-4 {
  align-items: center;
  display: flex;
  height: 358px;
  margin-left: 4px;
  margin-top: 100px;
  min-width: 1181px;
}

._ {
  -webkit-backdrop-filter: blur(100px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(100px) brightness(100%);
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 3.14px;
  min-height: 331px;
  width: 364px;
}

.overlap-group9 {
  align-self: flex-end;
  height: 124px;
  margin-right: 4px;
  margin-top: 47px;
  position: relative;
  width: 353px;
}

.text-90 {
  left: 30px;
  letter-spacing: 0;
  position: absolute;
  top: 108px;
}

.group-26 {
  align-items: flex-start;
  display: flex;
  height: 121px;
  left: 0;
  min-width: 353px;
  position: absolute;
  top: 0;
}

.line-15-2 {
  align-self: flex-end;
  height: 115px;
  margin-bottom: -2px;
  margin-left: -2px;
  width: 4px;
}

.address-1 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 82px;
}

.text-89 {
  left: 132px;
  letter-spacing: 0;
  position: absolute;
  top: 108px;
}

.overlap-group-2 {
  align-items: center;
  background-color: var(--endeavour);
  border-radius: 40px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-top: 46px;
  min-width: 127px;
  padding: 0 21px;
}

.text-91 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 3px;
  min-height: 78px;
}

.view-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 358px;
  width: 786px;
}

.text-98 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 3px;
  margin-top: 52px;
  min-height: 45px;
  white-space: nowrap;
}

.text-97 {
  color: 
transparent;
  font-family: var(--font-family-roboto);
  font-size: 68px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 81.6px;
  margin-left: 3px;
  min-height: 145px;
  width: 779px;
}

.span2 {
  color: var(--black);
  font-size: 56px;
  line-height: 67.2px;
}

.span3 {
  color: var(--black);
  font-size: 53.1px;
  line-height: 63.7px;
}

.view-7 {
  align-items: flex-start;
  display: flex;
  margin-top: 52px;
  min-width: 686px;
}

.group-13 {
  align-items: center;
  display: flex;
  height: 56px;
  margin-left: 44px;
  min-width: 113px;
}

.text-95 {
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 7.8px;
  min-height: 32px;
  min-width: 67px;
}

.number-1 {
  letter-spacing: 0;
  min-height: 56px;
  min-width: 28px;
}

.group-11 {
  align-items: center;
  display: flex;
  height: 59px;
  min-width: 161px;
}

.text-93 {
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 6.36px;
  min-height: 34px;
  width: 87px;
}

.number {
  letter-spacing: 0;
  min-height: 59px;
  width: 56px;
}

.group-12 {
  align-items: center;
  display: flex;
  height: 59px;
  margin-left: 44px;
  min-width: 162px;
}

.text-94 {
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 6.36px;
  min-height: 34px;
  width: 88px;
}

.group-25 {
  align-items: center;
  display: flex;
  height: 59px;
  margin-left: 58px;
  min-width: 108px;
}

.number-2 {
  letter-spacing: 0;
  min-height: 59px;
  width: 28px;
}

.text-96 {
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 6.36px;
  min-height: 34px;
  width: 62px;
}

.line-15-1 {
  height: 3px;
  margin-left: 114px;
  margin-top: 2px;
  width: 297px;
}

.view-5 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  min-width: 1213px;
}

.overlap-group1 {
  align-items: flex-start;
  border: 1px solid var(--black);
  border-radius: 40px;
  display: flex;
  height: 46px;
  margin-left: 131px;
  min-width: 180px;
  padding: 14px 41px;
}

.text-104 {
  letter-spacing: 0;
  margin-bottom: 2px;
  margin-left: 73px;
  min-height: 16px;
  min-width: 89px;
}

.text-103 {
  letter-spacing: 0;
  margin-bottom: 2px;
  margin-left: 69px;
  min-height: 16px;
  min-width: 111px;
}

.text-102 {
  letter-spacing: 0;
  margin-bottom: 2px;
  margin-left: 83px;
  min-height: 16px;
  min-width: 69px;
}

.text-101 {
  letter-spacing: 0;
  margin-bottom: 2px;
  margin-left: 86px;
  min-height: 16px;
  min-width: 77px;
}

.overlap-group-1 {
  align-items: center;
  background-color: var(--endeavour);
  border-radius: 40px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 27px;
  min-width: 180px;
  padding: 0 28px;
}

.text-99 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 121px;
}

.carboneducation {
  height: 30px;
  margin-bottom: 2px;
  width: 30px;
}

.view-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 106px;
  min-height: 1007px;
  width: 2010px;
}

.text-82 {
  letter-spacing: 0;
  margin-left: 119px;
  min-height: 47px;
}

.overlap-group8 {
  height: 897px;
  margin-top: 63px;
  position: relative;
  width: 2008px;
}

.x1-1 {
  height: 516px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.view-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 829px;
  position: absolute;
  top: 68px;
  width: 2008px;
}

.view-11 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  min-height: 387px;
  width: 2008px;
}

.view-12 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 64px;
  margin-left: 23px;
  min-width: 1688px;
}

.text-67 {
  letter-spacing: 0;
  margin-left: 561px;
  min-height: 64px;
  width: 102px;
}

.text-63 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 57px;
}

.text-65 {
  letter-spacing: 0;
  margin-left: 35px;
  min-height: 64px;
  min-width: 107px;
}

.text-64 {
  letter-spacing: 0;
  margin-left: 579px;
  min-height: 64px;
  min-width: 97px;
}

.text-66 {
  letter-spacing: 0;
  margin-left: 37px;
  min-height: 64px;
}

.view-14 {
  align-items: flex-start;
  display: flex;
  height: 65px;
  margin-right: -4px;
  margin-top: 26px;
  min-width: 1989px;
}

.text-59 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 64px;
  min-width: 120px;
}

.text-56 {
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 16px;
  min-width: 62px;
}

.text-60 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 0.78px;
  margin-left: 20px;
  min-height: 48px;
  min-width: 121px;
}

.text-58 {
  letter-spacing: 0;
  margin-left: 662px;
  min-height: 64px;
  min-width: 120px;
}

.text-57 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-bottom: 0.22px;
  margin-left: 54px;
  min-height: 64px;
  min-width: 120px;
}

.text-61 {
  letter-spacing: 0;
  margin-left: 21px;
  margin-top: 0.22px;
  min-height: 64px;
  width: 125px;
}

.text-62 {
  letter-spacing: 0;
  margin-left: 149px;
  margin-top: 1px;
  min-height: 48px;
  min-width: 195px;
}

.group-container-2 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/rectangle-52@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 2008px;
  padding: 0 54px;
}

.group-105 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 1px;
  min-height: 40px;
  width: 91px;
}

.text-73 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.address-7 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.overlap-group2-1 {
  height: 39px;
  margin-left: 49px;
  position: relative;
  width: 87px;
}

.address {
  left: 0;
  letter-spacing: 0;
  line-height: 19.3px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.text-7 {
  left: 0;
  letter-spacing: 0;
  line-height: 19.3px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.overlap-group1-2 {
  height: 39px;
  margin-left: 48px;
  margin-top: 2px;
  position: relative;
  width: 86px;
}

.group-113 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  margin-top: 1px;
  min-height: 40px;
  width: 93px;
}

.address-11 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.text-81 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-110 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  margin-top: 1px;
  min-height: 40px;
  width: 90px;
}

.address-8 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.text-78 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-101 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  margin-top: 1px;
  min-height: 40px;
  width: 82px;
}

.address-3 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.text-69 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-100 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 40px;
  width: 84px;
}

.text-68 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.address-2 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-112 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 1px;
  min-height: 40px;
  width: 90px;
}

.address-10 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.text-80 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-104 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  margin-top: 1px;
  min-height: 40px;
  width: 82px;
}

.text-72 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.address-6 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-103 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  min-height: 41px;
  width: 84px;
}

.text-71 {
  letter-spacing: 0;
  line-height: 19.3px;
  margin-top: 1px;
  min-height: 20px;
  white-space: nowrap;
}

.address-5 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.group-111 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  margin-top: 1px;
  min-height: 40px;
  width: 89px;
}

.text-79 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.address-9 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.overlap-group3-1 {
  height: 39px;
  margin-left: 48px;
  position: relative;
  width: 86px;
}

.group-102 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-top: 1px;
  min-height: 40px;
  width: 83px;
}

.address-4 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.text-70 {
  letter-spacing: 0;
  line-height: 19.3px;
  min-height: 20px;
  white-space: nowrap;
}

.overlap-group-4 {
  height: 39px;
  margin-left: 44px;
  margin-top: 2px;
  position: relative;
  width: 86px;
}

.view-13 {
  align-items: center;
  display: flex;
  height: 121px;
  margin-right: -12px;
  margin-top: 23px;
  min-width: 1997px;
}

.text-54 {
  letter-spacing: 0;
  margin-bottom: 13px;
  margin-left: 292px;
  min-height: 48px;
  min-width: 100px;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 121px;
  width: 1412px;
}

.text-53 {
  letter-spacing: 0;
  margin-left: 481px;
  min-height: 48px;
  min-width: 97px;
}

.text-container-3 {
  align-items: center;
  display: flex;
  height: 72px;
  margin-top: 1px;
  min-width: 1412px;
}

.text-45 {
  letter-spacing: 0;
  margin-bottom: 1.55px;
  margin-left: 61px;
  min-height: 64px;
  min-width: 120px;
}

.text-50 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 158px;
  min-height: 64px;
  min-width: 110px;
}

.text-44 {
  align-self: flex-start;
  letter-spacing: 0;
  min-height: 16px;
  min-width: 55px;
}

.text-46 {
  letter-spacing: 0;
  margin-bottom: 1.55px;
  margin-left: 18px;
  min-height: 64px;
  min-width: 91px;
}

.text-55 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-bottom: 1px;
  margin-left: 44px;
  min-height: 64px;
  min-width: 101px;
}

.text-48 {
  letter-spacing: 0;
  margin-bottom: 1.55px;
  margin-left: 36px;
  min-height: 64px;
  min-width: 101px;
}

.text-51 {
  letter-spacing: 0;
  margin-bottom: 8px;
  margin-left: 38px;
  min-height: 48px;
  min-width: 107px;
}

.text-47 {
  letter-spacing: 0;
  margin-left: 145px;
  margin-top: 4px;
  min-height: 64px;
  min-width: 91px;
}

.text-49 {
  letter-spacing: 0;
  margin-bottom: 1.55px;
  margin-left: 26px;
  min-height: 64px;
  min-width: 110px;
}

.text-52 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-bottom: 16px;
  margin-left: 40px;
  min-height: 48px;
  width: 133px;
}

.group-141 {
  align-items: flex-start;
  display: flex;
  height: 424px;
  margin-left: 113.69px;
  min-width: 1202px;
}

.group-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 97px;
  min-height: 340px;
  width: 535px;
}

.group-156 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 110px;
  margin-top: 120px;
  min-width: 319px;
}

.text-43 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 11px;
  margin-top: 2.95px;
  min-height: 72px;
  width: 194px;
}

.overlap-group3 {
  height: 111px;
  margin-top: -0.5px;
  position: relative;
  width: 111px;
}

.cyll-1 {
  height: 111px;
  left: 0;
  position: absolute;
  top: 0;
  width: 111px;
}

.number-6 {
  left: 36px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 39px;
}

.group-155 {
  align-items: flex-start;
  display: flex;
  height: 110px;
  min-width: 284px;
}

.overlap-group2 {
  height: 111px;
  margin-left: -1px;
  margin-top: -0.5px;
  position: relative;
  width: 111px;
}

.number-5 {
  left: 39px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 33px;
}

.text-42 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 13px;
  margin-top: 7.19px;
  min-height: 72px;
  min-width: 156px;
}

.group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 316px;
  width: 574px;
}

.group-153 {
  align-items: flex-start;
  display: flex;
  height: 110px;
  min-width: 299px;
}

.text-40 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  margin-top: 10.17px;
  min-height: 48px;
  min-width: 173px;
}

.overlap-group-3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/cyll-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 111px;
  margin-left: -1px;
  margin-top: -0.5px;
  min-width: 111px;
  padding: 26.6px 41.8px;
}

.number-3 {
  letter-spacing: 0;
  line-height: 55px;
  min-height: 57px;
  white-space: nowrap;
}

.group-154 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 108px;
  margin-top: 98px;
  min-width: 278px;
}

.text-41 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 13px;
  margin-top: 5.22px;
  min-height: 71px;
  width: 150px;
}

.overlap-group1-1 {
  height: 109px;
  margin-top: -0.5px;
  position: relative;
  width: 111px;
}

.cyll-1-1 {
  height: 109px;
  left: 0;
  position: absolute;
  top: 0;
  width: 111px;
}

.number-4 {
  left: 39px;
  letter-spacing: 0;
  line-height: 55px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 33px;
}

.flex-row-1 {
  align-items: flex-start;
  background-color: 
#24313d;
  display: flex;
  height: 376px;
  left: 0;
  min-width: 1440px;
  padding: 67.9px 121.5px;
  position: absolute;
  top: 7005px;
}

.flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 218px;
  width: 243px;
}

.group {
  height: 145px;
  margin-right: 2.5px;
  width: 241px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  margin-top: 31px;
  min-width: 148px;
}

.layoutube {
  height: 42px;
  margin-left: 16px;
  width: 42px;
}

.lavk {
  height: 40px;
  width: 40px;
}

.feinstagram {
  height: 34px;
  margin-left: 16px;
  width: 34px;
}

.flex-row-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 196px;
  margin-bottom: 2px;
  margin-left: 162px;
  min-width: 688px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  width: 290px;
}

.text-2-1 {
  color: 
#ffffff80;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 43px;
  min-height: 24px;
  white-space: nowrap;
}

.text-1-2 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 45px;
  min-height: 45px;
  white-space: nowrap;
}

.x {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  min-height: 72px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 115px;
  margin-top: 12.74px;
  min-height: 116px;
  width: 283px;
}

.line-28 {
  height: 2px;
  width: 283px;
}

.text-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 0.5px;
  margin-top: 42px;
  min-height: 72px;
}

.view-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 121px;
  min-height: 695px;
  position: absolute;
  top: 2469px;
  width: 1134px;
}

.overlap-group1-5 {
  height: 60px;
  position: relative;
  width: 710px;
}

.overlap-group-9 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62039c32940b9456c8c21dd1/releases/62039c4f3e269bd09095d1b5/img/star-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 41px;
  justify-content: flex-end;
  left: 670px;
  min-width: 40px;
  padding: 11.9px 11.4px;
  position: absolute;
  top: 0;
}

.number-7 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 13.6px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 17px;
  width: 17px;
}

.text-109 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 13px;
}

.group-138 {
  align-items: flex-start;
  display: flex;
  height: 567px;
  margin-left: 2px;
  margin-top: 68px;
  min-width: 1138px;
}

.text-107 {
  letter-spacing: 0;
  margin-left: 84px;
  min-height: 567px;
  width: 321px;
}

.text-108 {
  letter-spacing: 0;
  margin-left: 88px;
  min-height: 564px;
  width: 317px;
}

.text_label-8 {
  letter-spacing: 0;
  min-height: 567px;
  width: 322px;
}